#content{
	position: absolute;
	left: 22%;
	top: 30%;
	right: 10%;
}

#content h1{
	display: inline-box;
	background-color: rgba(180, 215, 255, 0.4);
	border:3px outset rgba(180, 215, 255, 0.3);
	padding: 20px;
	padding-left: 30px;
}

#content .intro{
	display: inline-box;
	background-color: rgba(180, 215, 255, 0.25);
	position: relative;
	left: 18px;
	width: 1000px;
	line-height: 12px;
	color: rgba(80, 80, 80, 0.85);
	padding-top: 10px;
	padding-bottom: 15px;
}

.intro p{
	position: relative;
	left: 32px;
}

#content img{
	position: relative;
	left: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	width: 318px;
	height: 180px;
	margin: 10px;
	margin-top: 30px;
	padding: 1px;
}

#content input{
	position: relative;
	left: 18px;
	width: 100px;
	height: 50px;
	border-width: 2px;
	background-color: rgba(180, 200, 250, 0.4);
	border-color: rgba(180, 200, 250, 0.5);
	margin: 20px;
	color: rgb(40, 40, 40, 0.85);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

#content input:hover, input:active{
	background-color: rgba(180, 200, 250, 0.8);
	border-color: rgba(180, 200, 250, 0.9);
	color: rgb(10, 10, 10);
}